@tailwind base;
@tailwind components;
@tailwind utilities;

/* nhớ xoá */
/* * {
  outline: 0.1px solid red;
} */
/* nhớ xoá */

/* resolve conflict css ant-design and tailwind */
/* index.css */
/* :where(.css-dev-only-do-not-override-4fj727).ant-btn-primary {
  background-color: #1677ff !important;
}
:where(.css-dev-only-do-not-override-4fj727).ant-btn-primary:not(
    :disabled
  ):hover {
  background-color: #4096ff !important;
} */

/* #popconfirm button:nth-child(2) {
  background-color: #1677ff;
}
#popconfirm button:hover:nth-child(2) {
  background-color: #4096ff;
} */
